In [5]:
import pandas as pd
import numpy as np

In [4]:
import feather

ModuleNotFoundError: No module named 'feather'

In [6]:
gff=pd.read_table('s_enterica_genome.gff',sep='\t',comment='#',header=None)

In [7]:
pd.set_option('display.max_columns',None)
gff.head(n=2)

,0,1,2,3,4,5,6,7,8
0,NC_003197.2,RefSeq,region,1,4857450,.,+,.,ID=NC_003197.2:1..4857450;Dbxref=taxon:99287;I...
1,NC_003197.2,RefSeq,gene,190,255,.,+,.,ID=gene-STM0001;Dbxref=GeneID:1251519;Name=thr...

In [8]:
genes=gff[gff[2]=="gene"]

In [9]:
ids=genes.iloc[:,8]

In [10]:
def func1(item):    
    spit=item.split(';')
    return spit[2][5:]

In [11]:
gene_lst=ids.map(func1)

In [12]:
genes=gff[gff[2]=="gene"]

In [13]:
def func2(n):    
    split_n=n.split(';')
    return split_n[0][8:]

In [14]:
ids=genes.iloc[:,8]

In [15]:
id_lst=ids.map(func2)

In [16]:
id_lst

1        STM0001
3        STM0002
6        STM0003
10       STM0004
12       STM0005
          ...
14368    PSLT107
14370    PSLT108
14372    PSLT109
14373    PSLT110
14375    PSLT111
Name: 8, Length: 4673, dtype: object

In [17]:
df=genes.drop([1,5,6,7],axis=1)

In [78]:
pd.set_option('display.max_columns',None)
df.head()

,0,2,3,4,8
1,NC_003197.2,gene,190,255,ID=gene-STM0001;Dbxref=GeneID:1251519;Name=thr...
3,NC_003197.2,gene,325,2799,ID=gene-STM0002;Dbxref=GeneID:1251520;Name=thr...
6,NC_003197.2,gene,2789,3730,ID=gene-STM0003;Dbxref=GeneID:1251521;Name=thr...
10,NC_003197.2,gene,3722,5020,ID=gene-STM0004;Dbxref=GeneID:1251522;Name=thr...
12,NC_003197.2,gene,5114,5898,ID=gene-STM0005;Dbxref=GeneID:1251523;Name=yaa...

In [80]:
df[0].unique()

array(['NC_003197.2', 'NC_003277.2'], dtype=object)

In [18]:
df[0]=np.where(df[0]=="NC_003197.2","chr1",df[0])

In [85]:
df.head()

       0     2     3     4                                                  8
1   chr1  gene   190   255  ID=gene-STM0001;Dbxref=GeneID:1251519;Name=thr...
3   chr1  gene   325  2799  ID=gene-STM0002;Dbxref=GeneID:1251520;Name=thr...
6   chr1  gene  2789  3730  ID=gene-STM0003;Dbxref=GeneID:1251521;Name=thr...
10  chr1  gene  3722  5020  ID=gene-STM0004;Dbxref=GeneID:1251522;Name=thr...
12  chr1  gene  5114  5898  ID=gene-STM0005;Dbxref=GeneID:1251523;Name=yaa...

In [19]:
df[0]=np.where(df[0]=="NC_003277.2","chr2",df[0])

In [87]:
df[0].unique()

array(['chr1', 'chr2'], dtype=object)

In [20]:
df=df.drop([2],axis=1)
df.head()

       0     3     4                                                  8
1   chr1   190   255  ID=gene-STM0001;Dbxref=GeneID:1251519;Name=thr...
3   chr1   325  2799  ID=gene-STM0002;Dbxref=GeneID:1251520;Name=thr...
6   chr1  2789  3730  ID=gene-STM0003;Dbxref=GeneID:1251521;Name=thr...
10  chr1  3722  5020  ID=gene-STM0004;Dbxref=GeneID:1251522;Name=thr...
12  chr1  5114  5898  ID=gene-STM0005;Dbxref=GeneID:1251523;Name=yaa...

In [89]:
id_lst.head()

1     STM0001
3     STM0002
6     STM0003
10    STM0004
12    STM0005
Name: 8, dtype: object

In [98]:
gene_lst.head()

1     thrL
3     thrA
6     thrB
10    thrC
12    yaaA
Name: 8, dtype: object

In [21]:
ndf=pd.merge(df,id_lst,left_index=True,right_index=True,validate="1:1")

In [22]:
final_df=pd.merge(ndf,gene_lst,left_index=True,right_index=True,validate="1:1")

In [23]:
final_df.head()

,0,3,4,8_x,8_y,8
1,chr1,190,255,ID=gene-STM0001;Dbxref=GeneID:1251519;Name=thr...,STM0001,thrL
3,chr1,325,2799,ID=gene-STM0002;Dbxref=GeneID:1251520;Name=thr...,STM0002,thrA
6,chr1,2789,3730,ID=gene-STM0003;Dbxref=GeneID:1251521;Name=thr...,STM0003,thrB
10,chr1,3722,5020,ID=gene-STM0004;Dbxref=GeneID:1251522;Name=thr...,STM0004,thrC
12,chr1,5114,5898,ID=gene-STM0005;Dbxref=GeneID:1251523;Name=yaa...,STM0005,yaaA

In [24]:
final_df.drop(['8_x'],axis=1,inplace=True)
final_df.head()

       0     3     4      8_y     8
1   chr1   190   255  STM0001  thrL
3   chr1   325  2799  STM0002  thrA
6   chr1  2789  3730  STM0003  thrB
10  chr1  3722  5020  STM0004  thrC
12  chr1  5114  5898  STM0005  yaaA

In [25]:
final_df.columns=['chrm','start','end','id','gene' ]
final_df.head()

    chrm  start   end       id  gene
1   chr1    190   255  STM0001  thrL
3   chr1    325  2799  STM0002  thrA
6   chr1   2789  3730  STM0003  thrB
10  chr1   3722  5020  STM0004  thrC
12  chr1   5114  5898  STM0005  yaaA

In [26]:
crs_mtx=final_df[["gene","start","end"]]
crs_mtx.head()

    gene  start   end
1   thrL    190   255
3   thrA    325  2799
6   thrB   2789  3730
10  thrC   3722  5020
12  yaaA   5114  5898

In [29]:
crs_mtx.to_csv("crs_mtx_salmonella.csv")